
title: FastChat
author: abma
date: 10-01-2008

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

FastChat is a small and easy to use chat program in the local network. It works with the udp-protocol.  if you find bugs/you have suggestions send an email to  matthias at abma dot de  (sorry for my bad english ;-)

## news
Download  FastChat Downloads  Documentation Gentoo  I've made a simple <a href="http://fastchat.svn.sourceforge.net/viewvc/*checkout*/fastchat/trunk/fc2/fastchat-0.16.9999.ebuild">ebuild</a>. You only have to set up a PORTDIR_OVERLAY and copy the ebuild into net-im/fastchat. Then type 'ebuild fastchat-0.16.9999.ebuild digest && emerge fastchat'. (Be careful, then your computer could explode, i can't give warranty because it's free :-)

## Screenshots

Here a small screenshot:

<img src="{% static '/images/fastchat_3.png' %}" alt="" />

(Version 17, compiled at 02.03.2004, 02:10)

## Links

<a href="http://sourceforge.net/projects/fastchat/">FastChat Project Site</a></p><p><a href="http://repchat.sf.net">RepChat</a>


{% endfilter %}
{% endblock %}
