
title: projects
author: abma
date: 06-01-2011

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

All things you can download from this site are free for private usage, if you want use it for a commercial project, please contact matthias at abma dot de. List of projects 

*Note*: This list is incomplete.

###active projects

 *  [agai](http://abma.de/projects/agai) - a Skrimish AI for the Spring Game Engine

###finished projects

*  [Fastchat]({% url '/projects/fastchat.html' %}) Simple UDP-Chat
*  [cdimgbrowser]({% url '/projects/cdimgbrowse.html' %}) a simple image viewer
*  [reminder]({% url '/projects/reminder.html' %}) - a simple console birthday reminder written in C
*  [gexifrotate]({% url '/projects/gexifrotate.html' %}) - a tool to set the orientation flag of jpegs
*  [phpfilemanager]({% url '/projects/php-filemanager.html' %}) Filemanager written in PHP

Warranty and Liability The content of this website can be used free of charge with no warranty or liability Since the content is free of charge there is no warranty or liability of any kind. The entire risk of using the content is within you. Should the content prove faulty, inaccurate, or otherwise unacceptable, you assume the cost of all necessary repair of corrections.

{% endfilter %}
{% endblock %}
