
title: Abrechnung
author: abma
date: 21-11-2009

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

abrechnung f&#252;rs zelten<br/>

<br/>
<h1>bierkasten phibo 9EUR|2,25EUR</h1>
martin, ande, matze, phibo<br/>

<h1>bierkasten martin 9EUR|2,25EUR</h1>
martin, ande, matze, phibo<br/>

<h1>bierkasten ande 9EUR|2,25EUR</h1>
martin, ande, matze, phibo<br/>

<h1>zelt mario 43EUR|14,33EUR</h1>
phibo, matze, mario<br/>

<h1>bootfahren andreas 7EUR|1EUR</h1>
martin, yvonne, antje, matze, phibo, mario, ande<br/>

<h1>was wer wieviel| betrag pro nase</h1>
auflistung der nutzniesser

{% endfilter %}
{% endblock %}
