
title: Biberach
author: abma
date: 21-11-2009

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

<h3>Sehensw&#252;rdigkeiten/Freizeitangebote in und um Biberach an der Ri&#223; herum</h3>
<ul class="mediawiki">
<li><a href="http://www.biberacher-schuetzenfest.com/">Sch&#252;tzenfest</a> (Umzug/Massen-St&#228;ndchen/Lagerleben/Tanz durch die Jahrhunderte/...)</li>
<li>Stadtf&#252;hrung in Biberach</li>
<li>Baggersee in Ummendorf</li>
<li>Kanufahrt auf der Donau</li>
<li><a href="http://www.oechsle-bahn.de/ &#214;chsle">Museumsbahn</a></li>
<li><a href="http://www.landkreis-biberach.de/index.php?id=museumsdorf Kreisfreilichtmuseum">K&#252;rnbach</a></li>
<li><a href="http://www.blaubeuren.de/touristik/sehenswuerdigkeiten/blautopf.html">Blautopf</a></li>
<li><a href="http://tourismus.ulm.de/sight_detail.dpx?sight_id=4 Ulmer">M&#252;nster</a></li>
<br/>
</ul>
<h2>Sch&#252;tzenfest</h2>
<br/>
<h3>Gruppen</h3>
<br/>
<ul class="mediawiki">
<li><a href="http://www.dieneuenalten.de/ Die Neuen">Alten</a></li>
<li><a href="http://www.des-kehrt-so.de/ Die kleinen">Feger</a></li>
<li><a href="http://www.ranzengar.de/">Ranzengarde</a></li>
<li><a href="http://www.gaukler-bc.de/ Die">Gaukler</a></li>
<li><a href="http://www.fahnenschwinger-biberach.de/">Fahnenschwinger</a></li>
<li><a href="http://www.wg-trommler.de/">WG-Trommler</a></li>
</ul>

{% endfilter %}
{% endblock %}
