
title: Chemnitz
author: abma
date: 21-11-2009

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

<p>Hier stehen viele Links zu Chemnitz, der TU-Chemnitz und allgemeine Infos.</p>
<h2>Wichtige Seiten / Hosts</h2>
<p>&nbsp;</p>
<ul class="mediawiki">
    <li>news-server: news.tu-chemnitz.de</li>
</ul>
<h3><a href="/wiki/s2005">IRC</a></h3>
<p>&nbsp;</p>
<p>SSH-Server</p>
<p><br />
login.tu-chemnitz.de</p>
<h2>Links</h2>
<h3>Stadt Chemnitz</h3>
<p>Postleitzahl Vettersstrasse: 09126</p>
<ul class="mediawiki">
    <li><a href="http://www.staedte-verlag.de/stadtplaene/plan/index.php4?plz=09111">Stadtplan</a></li>
    <li><a href="http://www.chemnitz.de/ Stadt">Chemnitz</a></li>
    <li><a href="http://www.chemnitz-tourismus.de/mp/click.system?action=home">Chemnitz Tourismus</a></li>
    <li><a href="http://www.vms-mobil.de/">Verkehrsverbund Mittelsachsen</a></li>
    <li><a href="http://www.asr-chemnitz.de/">Abfallentsorgung- und Stadtreinigung</a></li>
    <li><a href="/">Einkaufshilfe</a></li>
    <li><a href="http://de.wikipedia.org/wiki/Chemnitz"> Wikipedia Eintrag zu Chemnitz</a><a href="http://www.chemnitz-tourismus.de/"><br />
    </a></li>
    <li><a href="http://www.env-it.de/luftdaten/stationdata.fwd?comp=O3&amp;type=1SMW&amp;state=SN&amp;station=DESN011">Aktuelle Ozonwerte</a></li>
    <br />
</ul>
<h3>Uni</h3>
<ul class="mediawiki">
    <li><a href="http://www.tu-chemnitz.de/tu/lageplan/campusfinder/">Campusfinder</a></li>
    <li><a href="http://www.tu-chemnitz.de/tu/lageplan/">Lageplan</a></li>
    <li><a href="http://www.tu-chemnitz.de/verwaltung/studentenamt/abt12/termine.php">Allgemeine Termine (Semesterferien,...)</a></li>
    <li><a href="http://www.tu-chemnitz.de/informatik/studium/ordnungen.php">Studienordnungen</a></li>
    <li><a href="http://www.tu-chemnitz.de/verwaltung/vlvz/plan/index.php?fid=5">Vorlesungsverzeichnis + Stundenplanbauen</a></li>
    <li><a href="http://www.tu-chemnitz.de/stuwe/speiseplan_public/web/web_RH.php">Mensaplan</a></li>
    <li><a href="https://sbservice.tu-chemnitz.de/">Immatrikulationsbescheinigungen drucken,etc.</a></li>
    <li><a href="http://www.stura.tu-chemnitz.de/fibel/">Online-Fibel</a></li>
    <li><a href="https://www.laus.tu-chemnitz.de/">Onlineanmeldung zu Übungen und Vorlesungen(LAUS)</a></li>
    <li><a href="http://www.tu-chemnitz.de/www-index/personen.html">Personen/Emailsuche</a></li>
    <li><a href="http://www.tu-chemnitz.de/verwaltung/studentenamt/zpa/">Zentrales Prüfungsamt(ZPA)</a></li>
    <li><a href="http://www.pm.tu-chemnitz.de/php/printportal/">Printservice</a></li>
    <br />
</ul>
<h4>URZ / CSN</h4>
<ul class="mediawiki">
    <li><a href="http://service.hrz.tu-chemnitz.de/">URZ Service Seite</a></li>
    <li><a href="https://www.csn.tu-chemnitz.de/">Chemnitzer Studenten Netz (CSN)</a></li>
    <li><a href="https://mail.tu-chemnitz.de/">Mailserver</a></li>
    <li><a href="http://www.tu-chemnitz.de/urz/mail/list/neu.html">Mailingliste anlegen</a></li>
    <li><a href="https://www.csn.tu-chemnitz.de/mail2host/mail2host.pl">Mail2Host</a> (login erforderlich)</li>
    <li><a href="https://www.tu-chemnitz.de/urz/netz/vpn/">VPN ins Netz der TU-Chemnitz</a> (login erforderlich)</li>
    <li><a href="http://www.tu-chemnitz.de/cgi-bin/news/">Chemnitzer Newsgruppen</a></li>
    <br />
</ul>
<h4><a href="/">Vorlesungen</a></h4>
<ul class="mediawiki">
    <li><a href="/">Vergangene Vorlesungen</a></li>
    <br />
</ul>
<h2>Freizeit</h2>
<h3>Kino</h3>
<ul class="mediawiki">
    <li><a href="http://www.metropol-chemnitz.de/">Metropol Kino Chemnitz</a></li>
    <li><a href="http://www.filmwerkstatt.de/kino/fw_kino_pro_aktuell_01.php">Klubkino Siegmar</a></li>
    <br />
</ul>
<h3>Party</h3>
<ul class="mediawiki">
    <li><a href="http://www.tu-chemnitz.de/tu/termine/">TU-Chemnitz Veranstaltungskalender</a></li>
    <li><a href="http://www.stadtstreicher.de/">Stadtstreicher.de</a></li>
    <li><a href="http://www.dreisiebeneins.de/aktuell.html">371 - Stadtmagazin Chemnitz</a></li>
    <li><a href="http://www.campusatnight.de/index.php">campusatnight.de</a></li>
    <li><a href="http://www.radio-unicc.de/">radio-unicc.de</a></li>
    <li><a href="http://www.kneipen-in-chemnitz.de/">Kneipenführer</a></li>
    <li><a href="http://promillerechner.net/">Promillerechner</a></li>
</ul>
<h3>Locations</h3>
<ul class="mediawiki">
    <li><a href="http://ndorphin-club.de">ndorphin-club</a></li>
    <br />
</ul>
<h4>Studentenclubs</h4>
<ul class="mediawiki">
    <li><a href="http://www.fpm-club.de/">FPM-Studentenclub</a> - Fertigungsprozeß und -mittel (Quelle: <a href="http://www.tu-chemnitz.de/tu/presse/2002/06.07-10.16.html Pressemitteilung vom">07.06.2002</a>)</li>
    <li><a href="http://www.tu-chemnitz.de/stud/club/peb/web/">PEBStudentenkeller</a></li>
    <li><a href="http://www.treff-am-campus.de/">Treff am Campus (TaC)</a></li>
    <li><a href="http://www.windkanal-ev.de/">Windkanal</a></li>
    <li><a href="http://www.filmclub-mittendrin.de/">Filmclub Mittendrin</a></li>
    <li><a href="http://www.tu-chemnitz.de/stud/club/kulturen/">Club der Kulturen</a></li>
    <li><a href="http://www.stura.tu-chemnitz.de/bspw/">Stura</a></li>
    <li><a href="http://www.tu-chemnitz.de/stud/club/">Alle Klubs</a></li>
    <li>Studentenclub BitBoutique (gibts leider nicht mehr)</li>
    <br />
</ul>
<h3>Sonstiges</h3>
<ul class="mediawiki">
    <li><a href="http://www.tu-chemnitz.de/usz/sportangebote/index.php">Sportangebot der TU-Chemnitz</a></li>
    <li><a href="http://www.chemnitz.de/chemnitz/de/kultur_und_freizeit/sport/freibaeder/freibad_bernsdorf.asp">Freibad Bernsdorf</a></li>
    <li><a href="http://www.efc-chemnitz.de/">Eislaufen</a></li>
    <li><a href="http://www.tu-chemnitz.de/stud/www/">Linkseite der TU</a> (URZ-Account notwendig)</li>
    <br />
</ul>
<h3>Job</h3>
<ul class="mediawiki">
    <li><a href="http://www.tu-chemnitz.de/studium/angebotdb/">Stellenbörse TU-Chemnitz</a></li>
</ul>

{% endfilter %}
{% endblock %}
