
title: Chemnitz/Feueralarm
author: abma
date: 21-11-2009

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

<h2>Wann gabs den letzten Feueralarm</h2>
<br/>
<ul class="mediawiki">
<li>11.05.2006 00:55-01:13 V64 Grund unbekannt, war vermutlich etwas im 7. Stock, war nichts zu riechen :-)</li>
<li>15.05.2006 20:55-21:06 V66 Grund unbekannt</li>
<li>19.05.2006 09:20-09:37 V70 Grund unbekannt</li>
<li>07.06.2006 12:12-12:30 V64 Grund unbekannt, vermutlich Handwerker. Es kam andscheinend keine Feuerwehr.</li>
<li>08.06.2006 02:18-??:?? RH?? Alarm vermutlich in der Reichenhainer</li>
<li>26.06.2006 20:42-21:00 V64 Der komplette L&#246;schzug war mal wieder da. Die Vorhut is allerdings schon vor der V72 ausgestiegen und ein st&#252;ck gelaufen :-D</li>
<li>11.07.2006 03:20-03:40 V64 Ne schlimmre Uhrzeit gabs noch nie :-/</li>
</ul>

{% endfilter %}
{% endblock %}
