
title: Exim
author: abma
date: 21-11-2009

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

<h2>Exim4 mit imap server(configure local deliverly to maildir)</h2>
<br/>
 local_delivery:<br/>
   driver = appendfile<br/>
   create_directory<br/>
   directory = $home/Maildir<br/>
   directory_mode = 0775<br/>
   maildir_format<br/>
   user = $local_part<br/>

<h2>Kopie von ausgehenden Emails an Emailadresse senden</h2>
in exim.conf ganz am anfang einf&#252;gen:<br/>

system_filter = /etc/exim/printerredirect.filter system_filter_user = mail<br/>

und dann in /etc/exim/printerredirect.filter<br/>
Code:<br/>

<ol class="mediawiki">
<li>Exim filter</li>
</ol>
 if $sender_host_address is "192.168.1.223" <br/>
 then<br/>
    headers add "Disposition-Notification-To: mail@host.domain"<br/>
    headers remove from<br/>
    headers add "From: mail@host.domain"<br/>
    unseen deliver "mail@host.domain"<br/>
 endif<br/>

<h2>Exim welcome Message takes a long time</h2>
This is a network problem, dns/ident requests couldn't be answered. => Exim is waiting for a timeout.<br/>
exim.conf<br/>
 rfc1413_query_timeout = 1s<br/>

<h2>befehle</h2>
nachrichten in queue auflisten<br/>
 exim -bp<br/>
queue jetzt abarbeiten<br/>
 exim -qff<br/>
Nachricht aus der queue entfernen:<br/>
 exim -Mrm <message id> <message id>
Versionsnummer ausgeben<br/>
 exim -bV<br/>

<a href="/">Kategorie:Linux</a>

{% endfilter %}
{% endblock %}
