
title: Gtk
author: abma
date: 21-11-2009

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

<h2>Tutorials</h2> <ul class="mediawiki"> <li>http://library.gnome.org/devel/gtk-tutorial/stable/</li> <li>http://www.yolinux.com/TUTORIALS/GTK+ProgrammingTips.html#BASICCONFIGURATION</li> <br /> <li>http://library.gnome.org/devel/gtk/ GTK Api Reference</li> <li>http://library.gnome.org/devel/gtk-tutorial/stable/ GtkTreeView HelloWorld</li> <br /> </ul> <h2>Install under Windows</h2> <p><br /> http://gladewin32.sourceforge.net/<br />  http://prdownloads.sourceforge.net/gladewin32/gtk-win32-devel-2.6.10-rc1.exe?download</p>

{% endfilter %}
{% endblock %}
