
title: Hauptseite
author: abma
date: 21-11-2009

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

<p>Dies ist ein kleines wiki, in dem Wissenswertes zu folgenden Themen festgehalten wurde:</p><ul class="mediawiki"> <li><a href="/wiki/linux">Linux</a> (Wenn nicht anders angegeben bezieht sich alles auf die Distribution <a href="http://www.gentoo.org/">Gentoo</a>)</li> <li><a href="/wiki/reactos">ReactOS</a></li> <li><a href="/wiki/windows">Windows</a></li> <li><a href="/wiki/allgemeines">Allgemeines</a></li>  <li><a href="/wiki/chemnitz">Chemnitz</a></li>  <li><a href="/wiki/sonyericssonk750i">SonyEricssonK750i</a></li> </ul>  <hr /> <p>&nbsp;</p>

{% endfilter %}
{% endblock %}
