
title: Notizen
author: abma
date: 21-11-2009

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

<h2>Ideen f&#252;r Gesch&#228;fte</h2>
<ul class="mediawiki">
<li> Gui &#252;ber website direkt von einem programm laden / Ein-/Ausgabe ebenso (post/get)</li>
</ul>
 Vorteil:<br/>
<ul class="mediawiki">
<li> Leichte Programmupdates</li>
<li> Daten Servergespeichert</li>
<li> Zugriff Weltweit</li>
<li> ...</li>
<br/>
</ul>
<h2>Ideen Sonstiges</h2>
<br/>
<ul class="mediawiki">
<li>software um codeschnipsel zu verwalten (cms like)z.b. eine funktion in c (beschreibung,betriebsystem,datum,&#239;&#191;&#189;nderungen,...) programm in pascal, funktion in java,...</li>
<li>"dj"software: datenbank mit allen liedern, aus der werden die zu spielenden lieder in die playlist eingetragen, gepspielte lieder werden aus der playliste gel&#246;scht (->history?), dann noch eine playliste die l&#228;uft, wenn nichts manuell ausgew&#228;hlt wird! (man w&#228;r das kewl!)</li>
</ul>
die liste aus der man ausw&#228;hlt erlaubt komfortables suchen; automatisches ranking per points (last played,... ) basierend auf md5sum + dateigr&#246;&#223;e/dateiname?!<br/>

<h2>Ideen f&#252;r Computerspiele</h2>
<br/>
<ul class="mediawiki">
<li>(online?)Strategiespiel in dem man waffen selber konstrieren kann und diese "technologie" dann auch weiterverkaufen kann, also auch waffen die nicht funktionieren</li>
</ul>
(=> sehr gute physik-engine!)<br/>
vielleicht kombination einzelner dinge wie in adventures?!<br/>

<h2>Diverses</h2>
<br/>
CD/DVD Inlet/Cover<br/>

Gr&#246;&#223;e: ca. 12,2 cm x 12,2 cm<br/>

DVD+R sind besser als DVD-R ;-)<br/>

<br/>
<a href="/">Kategorie:Allgemeines</a>

{% endfilter %}
{% endblock %}
