
title: Portlist
author: abma
date: 21-11-2009

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

<ul class="mediawiki">
<li>21 tcp ftp - file transfer protocol</li>
<li>22 tcp ssh - secure shell (<a href="/">Openssh</a>)</li>
<li>25 tcp smtp - simple mail transfer protocol (<a href="/">Exim</a>)</li>
<li>110 tcp pop3 - post office protocol (<a href="/">Dovecot</a>)</li>
<li>143 tcp imap2 - interactive mail protocol (<a href="/">Dovecot</a>)</li>
<li>587 tcp smtp - alternative port to port 25 (<a href="/">Exim</a>)</li>
<li>993 tcp imaps - imap over ssl (<a href="/">Dovecot</a>)</li>
<li>995 tcp pop3s - pop3 over ssl (<a href="/">Dovecot</a>)</li>
<li>1723 tcp pptp - point to point tunneling protocol (<a href="/">Poptop</a>)</li>
<li>3389 tcp msrdp - microsoft remote desktop protocol</li>
<li>6157 udp fastchat - default port for <a href="http://fastchat.sf.net/">FastChat</a></li>
</ul>

{% endfilter %}
{% endblock %}
