
title: ProjektIdeen
author: abma
date: 21-11-2009

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

<h2>Rezepteseite</h2>
<br/>
Eine Webseite, wiki&#228;hnlich, in der man rezepte eingeben kann, mit Suchfunktion in der man zutaten ausw&#228;hlt die zur verf&#252;gung stehen und dann passende rezepte angezeigt werden.<br/>

<i>M&#246;gliche L&#246;sung (ohne Zutatensuche): http://de.wikibooks.org/wiki/Kochbuch</i> --Sven 20:47, 31. Okt 2005 (CET)<br/>

<h2>Adressbuch mit Kalender</h2>
ist etwas von outlook abgekupfert vom prinzip her, aber nach meinem geschmack gibts da leider noch nix. Entweder zu &#252;berladen oder zu einfach.

{% endfilter %}
{% endblock %}
