
title: SonyEricssonK750i
author: abma
date: 21-11-2009

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

<h2>Links</h2> <ul class="mediawiki"> <li><a href="http://www.fjsoft.at/">MyPhoneExplorer</a> (Verwaltungsprogramm für SonyEricsson Handys unter Windows)</li> <li><a href="http://multisync.sourceforge.net/">Multisync</a> Sync-Tool for Linux</li> <li>http://localhost.ruhr.de/~stefan/k750i/</li> <br /> <li><a href="http://www.getjar.com/mobile-all-applications-for-sony-ericsson-k750/">getjar.com</a> (Software)</li> <li><a href="http://www.godfathers-mobile.de/">Klingeltöne/Themes/...</a></li> <li><a href="http://gallery.mobile9.com/">Klingeltöne/Themes/...</a></li> </ul>

{% endfilter %}
{% endblock %}
