
title: Unattended/Thunderbird
author: abma
date: 21-11-2009

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

<a href="http://nsis.sourceforge.net/Main_Page">NSIS-script</a> um Thunderbird zu installieren (incl. download).<br/>
Der Ordner Profil wird als Profil installiert, die Konfiguration entf&#228;llt also nach der installation.<br/>

Ben&#246;tigt das <a href="http://nsis.sourceforge.net/MD5_plugin">MD5-Plugin</a>.<br/>

<h2>thunderbird.nsi</h2>
<br/>
 !define VERSION "1.5.0.7"<br/>
 !define MD5 "9ce0098539dac9a2f787031bd324b828"<br/>
 <br/>
 Name "ThunderbirdInstaller"<br/>
 Caption "Thunderbird Installer ${VERSION}"<br/>
 OutFile "ThunderbirdInstaller${VERSION}.exe"<br/>
 <br/>
 LoadLanguageFile "${NSISDIR}\Contrib\Language files\German.nlf"<br/>
 <br/>
 CRCCheck on<br/>
 SilentInstall normal<br/>
 InstallDir "$APPDATA\Thunderbird"<br/>
 <br/>
 Page components<br/>
 Page instfiles ;"" "" RunThunderbird<br/>
 <br/>
 Section /o "Thunderbird installieren" 3<br/>
 	AddSize 20000<br/>
 	StrCpy $2 "$TEMP\Thunderbird Setup ${VERSION}.exe"<br/>
 	Call CheckMD5<br/>
 	Pop $0<br/>
 	StrCmp $0 "success" md5ok<br/>
 	NSISdl::download http://download.mozilla.org/?product=thunderbird-${VERSION}&os=win&lang=de $2<br/>
 	Pop $0<br/>
 	StrCmp $0 "success" downloaded<br/>
 		SetDetailsView show<br/>
 		DetailPrint "download failed: $0"<br/>
 		Abort<br/>
 	downloaded:<br/>
 		Call CheckMD5<br/>
 		Pop $0<br/>
 		StrCmp $0 "success" 0 errdownload<br/>
 	md5ok:<br/>
 		Call UninstallThunderbird<br/>
 		ExecWait '"$2" -ms'<br/>
 ;		Delete $2;//keep the downloaded file<br/>
 		return<br/>
 	errdownload:<br/>
 		SetDetailsView show<br/>
 		DetailPrint "Download had a Checksum error, aborting..."<br/>
 		Abort<br/>
 SectionEnd<br/>
 <br/>
 Section /o "Konfiguration erstellen/&#252;berschreiben"<br/>
 	MessageBox MB_YESNO|MB_DEFBUTTON2|MB_ICONQUESTION "Sind Sie sicher, dass  Sie die evtl. bestehenden Konfigurationsdateien in $APPDATA\Thunderbird l&#246;schen  wollen?" IDYES doit<br/>
 		DetailPrint "Installation abgebrochen"<br/>
 		Abort<br/>
 	doit:<br/>
 		RmDir /r "$APPDATA\Thunderbird" ;bestehende konfiguration  l&#246;schen (UNSICHER!)<br/>
 		SetOutPath "$APPDATA\Thunderbird"<br/>
 	        File /r Profil\* ;dateien aus diesem verzeichnis installieren<br/>
 SectionEnd<br/>
 <br/>
 Function CheckMD5<br/>
 	md5dll::GetMD5File "$2"<br/>
 	DetailPrint 'md5dll::GetMD5File "$2"'<br/>
 	Pop $3<br/>
 	DetailPrint "MD5: [$3]"<br/>
 	StrCmp $3 ${MD5} +4<br/>
 	DetailPrint "MD5 failed"<br/>
 	Push "failed"<br/>
 	return<br/>
 	DetailPrint "ok :-)"<br/>
 	Push "success"<br/>
 FunctionEnd<br/>
 <br/>
 Function UninstallThunderbird<br/>
 	DetailPrint "L&#246;sche alte Installation von Thunderbird"<br/>
 	StrCpy $0 "$WINDIR\UninstallThunderbird.exe"<br/>
 	ExecWait '"$0" -ms'<br/>
 	Delete $0<br/>
 FunctionEnd

{% endfilter %}
{% endblock %}
