
title: Windows/Thunderbird
author: abma
date: 21-11-2009

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

<h2>Thunderbird 1.0, Emails als Nur Text anzeigen</h2>
<br/>
HTML gleich g&#228;nzlich abzuschalten und auf reinen Nachrichtentext umzusteigen <br/>
(Ansicht | Nachrichtentext|Reiner Text).<br/>

<h2>Thunderbird zeigt in Newsgroups ungelesene Nachrichten an obwohl alle als gelesen makiert wurden</h2>
<br/>
Einfach die newsgroup neu abonnieren und alle alten news als gelesen makieren.<br/>

<h2>Beim Start von Thunderbird newsgruppen automatisch aufklappen</h2>
in user.js:<br/>
 user_pref("news.persist_server_open_state_in_folderpane", true);<br/>
eintragen<br/>

<br/>
<h2>Links</h2>
<ul class="mediawiki">
<li><a href="http://people.freenet.de/jetztundhier/thunderbird.html Einige tipps zu">Thunderbird</a></li>
<br/>
</ul>
<a href="/home/wiki/Kategorie: Linux">Kategorie: Linux</a> <a href="/home/wiki/Kategorie: Windows">Kategorie: Windows</a>

{% endfilter %}
{% endblock %}
