
title: Windows/VisualC
author: abma
date: 21-11-2009

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

<h2>Visual C++ 6.0</h2>
<h3>Konsole-Projekt in GUI-Projekt &#228;ndern</h3>
<br/>
Projekteinstellungen->Linker->Projekt Optionen<br/>
 /subsystem:console<br/>
in<br/>
 /subsystem:windows<br/>
&#228;ndern<br/>

Projekteinstellungen->C/C++->Pr&#228;prozessor-Definitionen:<br/>
 _CONSOLE_<br/>
in<br/>
 _WINDOWS_<br/>
&#228;ndern

{% endfilter %}
{% endblock %}
