
title: Xorg:xorg.conf
author: abma
date: 21-11-2009

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

Section "ServerFlags"<br/>
 	Option "DefaultLayout" "Asus"<br/>
<ol class="mediawiki">
<li>	Option "DontZap"</li>
</ol>
 	Option "BlankTime"  "10"<br/>
 	Option "StandbyTime"  "20"<br/>
 	Option "SuspendTime"  "30"<br/>
 	Option "OffTime" "40"<br/>
 	Option "NoPM"<br/>
 EndSection<br/>
 <br/>
 Section "ServerLayout"<br/>
 	Identifier     "Asus"<br/>
 	Screen         "Screen0" 0 0<br/>
 	InputDevice    "Keyboard0" "CoreKeyboard"<br/>
 	InputDevice    "MsIntelliPointExplorer" "CorePointer"<br/>
<ol class="mediawiki">
<li>	InputDevice    "LogitechSerial" "CorePointer"</li>
</ol>
 EndSection<br/>
 <br/>
 Section "Files"<br/>
         RgbPath      "/usr/lib/X11/rgb"<br/>
         ModulePath   "/usr/X11R6/lib/modules"<br/>
 	FontPath     "/usr/share/fonts/misc/"<br/>
 	FontPath     "/usr/share/fonts/75dpi/"<br/>
 	FontPath     "/usr/share/fonts/100dpi/"<br/>
 	FontPath     "/usr/share/fonts/xawtv/"<br/>
 	FontPath     "/usr/share/fonts/lfp-fix/"<br/>
 	FontPath     "/usr/share/fonts/lfp-var/"<br/>
 	FontPath     "/usr/share/fonts/PEX/"<br/>
 	FontPath     "/usr/share/fonts/sharefont/"<br/>
 	FontPath     "/usr/share/fonts/freefont/"<br/>
 	FontPath     "/usr/share/fonts/encodings/"<br/>
 	FontPath     "/usr/share/fonts/truetype/"<br/>
 	FontPath     "/usr/share/fonts/ttf/ja/aqua"<br/>
 	FontPath     "/usr/share/fonts/corefonts/"<br/>
 	FontPath     "/usr/share/fonts/sharefonts/"<br/>
 	FontPath     "/usr/share/fonts/xawtv/"<br/>
 	FontPath     "/usr/share/fonts/urw-fonts/"<br/>
 	FontPath     "/usr/share/fonts/ttf-bitstream-vera/"<br/>
 	FontPath     "/usr/share/fonts/TTF/"<br/>
 	FontPath     "/usr/share/consolefonts/"<br/>
 EndSection<br/>
 <br/>
 Section "Extensions"<br/>
<ol class="mediawiki">
<li>       Option "Composite" "Enable"</li>
</ol>
        Option "RENDER" "Enable"<br/>
 EndSection<br/>
        <br/>
 Section "Module"<br/>
 	Load  "glx"<br/>
 	Load  "v4l"<br/>
<ol class="mediawiki">
<li>	Load  "dri"</li>
<li>	Load  "dbe"</li>
</ol>
 	Load  "xtrap"<br/>
<ol class="mediawiki">
<li>	Load  "opengl"</li>
</ol>
 	Load  "record"<br/>
 	Load  "extmod"<br/>
 	Load  "type1"<br/>
 	Load  "freetype"<br/>
 EndSection<br/>
 <br/>
<ol class="mediawiki">
<li> Mouse Serial Logitech</li>
</ol>
 Section "InputDevice"<br/>
 	Identifier "LogitechSerial"<br/>
 	Driver     "mouse"<br/>
 	Option     "Protocol" "mouseman"<br/>
 	Option     "Buttons"  "3"<br/>
 	Option     "Device"   "/dev/gpmdata"<br/>
 EndSection<br/>
 <br/>
<ol class="mediawiki">
<li> Mouse IntelliMouse Explorer</li>
</ol>
 Section "InputDevice"<br/>
 	Identifier  "MsIntelliPointExplorer"<br/>
 	Driver      "mouse"<br/>
 	Option	    "Protocol" "ExplorerPS/2"<br/>
 	Option	    "Buttons" "7"<br/>
 	Option	    "ZAxisMapping" "4 5"<br/>
 	Option	    "Device" "/dev/gpmdata"<br/>
 EndSection<br/>
 <br/>
<ol class="mediawiki">
<li>Keyboard</li>
</ol>
 Section "InputDevice"<br/>
 	Identifier  "Keyboard0"<br/>
 	Driver      "kbd"<br/>
 	Option	    "XkbModel" "pc102"<br/>
 	Option	    "XkbLayout" "de"<br/>
 EndSection<br/>
 <br/>
<ol class="mediawiki">
<li>"Virtual Screen" (Monitor + Card)</li>
</ol>
 Section "Screen"<br/>
         Identifier "Screen0"<br/>
<ol class="mediawiki">
<li>        Device     "aticard"</li>
</ol>
 	Device     "nvidiacard"<br/>
<ol class="mediawiki">
<li>	Device     "nvcard"</li>
<li>	Device     "fbcard"</li>
</ol>
 	Monitor    "VisualSensations"<br/>
         DefaultDepth  24 <br/>
         SubSection "Display"<br/>
 		Depth   24<br/>
 		Modes   "1024x768" "800x600" "768x576" "640x480" "320x240"<br/>
         EndSubSection<br/>
         SubSection "Display"<br/>
                 Depth	16 <br/>
                 Modes   "1024x768" "800x600" "768x576" "640x480" "320x240"<br/>
         EndSubSection<br/>
 						<br/>
 EndSection<br/>
 								 <br/>
<ol class="mediawiki">
<li>Card ati</li>
</ol>
 Section "Device"<br/>
         Identifier  "aticard"<br/>
         Driver      "ati"<br/>
         VendorName  "ATI"<br/>
         BoardName   "3D Rage IIC AGP"<br/>
         ChipSet     "ati"<br/>
         ChipId      0x475a<br/>
         ChipRev     0x3a<br/>
         BusID       "PCI:1:5:0"<br/>
 EndSection<br/>
 <br/>
<ol class="mediawiki">
<li>Card nv (xfree driver)</li>
</ol>
 Section "Device"<br/>
 	Identifier  "nvcard"<br/>
 	Driver      "nv"<br/>
 EndSection<br/>
 <br/>
 Section "Device"<br/>
 	Identifier "fbcard"<br/>
 	#Driver "fbdev"<br/>
 	Driver "vesa"<br/>
 	<br/>
 EndSection<br/>
 <br/>
 <br/>
<ol class="mediawiki">
<li>Card nvidia (nvidia driver)</li>
</ol>
 Section "Device"<br/>
         Identifier  "nvidiacard"<br/>
         Driver      "nvidia"<br/>
         VendorName  "nVidia Corporation"<br/>
         BoardName   "NV11 [GeForce2 MX/MX 400]"<br/>
         BusID       "PCI:1:0:0"<br/>
         Option      "NoLogo"<br/>
         Option      "NvAGP" "2"<br/>
         Option     "CursorShadow" "true"<br/>
 	#Option     "CursorShadowAlpha"         # <i>
 	#Option     "CursorShadowXOffset"       # <i>
 	#Option     "CursorShadowYOffset"       # <i>
        Option		"RenderAccel" "true"<br/>
  	Option 		"Overlay" "true"<br/>
 	Option		"CIOverlay" "true"<br/>
 EndSection<br/>
  <br/>
<ol class="mediawiki">
<li> Monitor</li>
</ol>
 Section "Monitor"<br/>
         Identifier   "VisualSensations"<br/>
         HorizSync    30.0 - 70.0<br/>
         VertRefresh  50.0 - 150.0<br/>
 EndSection

{% endfilter %}
{% endblock %}
