
title: Zitate
author: abma
date: 21-11-2009

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

<h2>Zitate aus dem #s2005</h2>
<br/>
 Hunter: Wenn Weihnachten jetzt X-Mas heisst, ist dann der Weihnachtsmann X-Man?<br/>

 maconey tippt seine pin in das handy ein, auf dem display erscheint "Code angenommen"<br/>
 Hunter: Was w&#228;re wenn das jede Toilette auch sagen w&#252;rde...<br/>

 Hunter: ich hab mir gestern Abend "Das Jesus Video" als Film reingezogen... irgendwie glaub ich der   <br/>
         Drehbuchautor hat das Buch nie gelesen<br/>
 Maconey: wie bescheuert... ein buch das "das jesus video" heisst<br/>

 Es waren Spr&#252;che f&#252;r T-Shirts gesucht:<br/>
 Mephistopheles: oder "wenn man bier nur ficken k&#246;nnte"<br/>

 Letztens als topic:<br/>
 "alles Irre hier ? George: Jop"<br/>

 <b>Howard_I alias Peter Lustig...Heute: Wo kommt eigentlich das Bier her?</b>
 Howard_I: dann erkl&#228;rt dir Peter Lustig vorher noch, wie man Bier braut...:<br/>
 "Dubdidu... Hm, der Rasen ist gem&#228;ht, die Blumen sind gegossen, der Bauwagen ist gestrichen...<br/>
 was k&#246;nnt ich denn jetzt machen? Ah, erstmal ein Bier!" <br/>
 <i>(setzt sich in Gartenstuhl)</i> <br/>
 <i>*Plopp-Bier-auf* *Gluck, gluck*</i> "Aaahh, lecker, so ein Bier.<br/>
  Hm, wo kommt das Bier eigentlich her? "Krombacher", da stehts auf der Kiste, also Kreuzberg, hmhm,<br/>
  na, dann will ich doch mal schauen, wie man so ein Bier macht..."<br/>
 <i>(Szenenwechsel)</i>
 "...a-ha, hier machen die also das leckere Bier. Naja, dann werd ich da jetzt mal reingehen.<br/>
 Ah, hier bin ich jetzt wohl in der Anlieferungsabteilung, hm, da kommt grad ein LKW mit nem Gro&#223;en <br/>
 Fass hinten dran, Silo nennt man sowas.<br/>
 Hm, was da wohl drin ist? Ah, da stehts ja: Malz...<br/>
 Ah, jetzt kommt da ein Arbeiter mit nem riesigen Staubsauger und schlie&#223;t ihn an den LKW an.<br/>
 hm, was macht der denn jetzt? Aah, der saug das Malz jetzt aus dem LKW in das Silo hier bei der <br/>
 Brauerei.<br/>
 und da kommt noch ein LKW, mal sehen, was der bringt...<br/>
 hm, F&#228;sser, ich frag mal den Arbeiter da hinten, was da drin ist.<br/>
 &#196;h, hallo, ich interessier mich f&#252;r Bier, und ich wollt mir gern mal ansehn, wie man das so macht."<br/>
 Arbeiter: "Ja, das kann ich ihnen gerne zeigen."<br/>
 Peter: "Ja, da hab ich sofort mal ne Frage: Was ist denn in diesen F&#228;ssern drin?"<br/>
 Arbieter: "Ja, da ist Hopfen drin, den braucht man, damit das Bier seinen Geschmack bekommt. Je mehr<br/>
            Hopfen man rein tut, um desto w&#252;rziger wird das Bier.<br/>
 Peter: "Aha. Und wie gehts jetzt weiter?"<br/>
 Arbeiter: "Ja, da gehen wir am besten erstmal ins Brauhaus."<br/>
 Peter: "Ja, da bin ich ja mal gespannt, wie das jetzt so geht."<br/>
 <i>(Szenenwechsel)</i>
 Arbeiter: "Ja, also hier sind wir jetzt am Maischbeh&#228;lter. Da kommt jetzt der Malz rein, und, ganz <br/>
             wichtig, das Brauwasser."<br/>
 Peter: "Ah, Wasser. Das macht auch den Geschmack eines Biers aus."<br/>
 Arbeiter: "Ja, und jetzt schw&#228;mmen wir das zerkleinerte Malz mit dem Wasser auf. Das ist sch&#246;n warm,<br/>
            damit gleich die Hefe gut arbeiten kann."<br/>
 Peter: "Moment, Hefe? Ich denke, wir wollen Bier brauen, und keinen Kuchen backen!"<br/>
 Arbeiter: "Ja, aber die Hefe brauchen wir, damit das Bier &#252;berhaupt Alkohol hat. Denn in dem Malz <br/>
            ist Zucker enthalten, und aus dem macht die Hefe Alkohol."<br/>
 Peter: "Aha, was diese kleinen Tierchen doch so alles k&#246;nnen..."<br/>
 Arbeiter: "Ja, aber die Hefe ist auch keine einfache Backhefe, das ist speziell gez&#252;chtete <br/>
            Brauhefe."<br/>
 Peter: "Ah. Aber was ist denn mit dem Malz, im Bier ist davon doch nichts drin?"<br/>
 Arbeiter: "Ja, die Maische bleibt jetzt erstmal ein paar Stunden hier drin. Danach flie&#223;t sie &#252;ber <br/>
            die Rohre da unten in den L&#228;uterbottich. Da werden die fl&#252;ssigen und die festen <br/>
            Bestandteile getrennt."<br/>
 Peter: "Aah, und was passiert dann mit dem Rest vom Malz? Das kommt in den M&#252;ll, oder?"<br/>
 Arbeiter: "Nein, das wird getrocknet, und dann kann man das als Tierfutter verwenden. Das nennt man <br/>
            dann Treber."<br/>
 Peter: "Ah, hier wird nichts weggeworfen. Und dann ist das Bier fertig?"<br/>
 Arbeiter: "Nein, dann muss erstmal die Hefe wieder raus. Das passiert hier hinten."<br/>
 Peter: "Und dann fehlt auch noch der Hopfen von eben, oder?"<br/>
 Arbeiter: "Genau, der kommt jetzt. Jetzt wird das Bier gehopft."<br/>
 Peter: "Und dann, dann kommt das Bier in die Flasche, oder?"<br/>
 Arbeiter: "Nein, dann kommt es erstmal in die Lagerbeh&#228;lter. Da wird es noch gelagert, je nach <br/>
            Biersorte unterschiedlich lang."<br/>
 Peter: "Aha, die gro&#223;en F&#228;sser da. Ah, da unten ist ein Zapfhahn dran!"<br/>
 Arbeiter: "Ja, da kann der Braumeister was abzapfen, um die Qualit&#228;t des Biers zu &#252;berpr&#252;fen."<br/>
 Peter: "Oh, k&#246;nnt ich da auch mal?"<br/>
 Arbeiter: "Aber sicher." <i>*Zapf*</i> "So, bitte."<br/>
 Peter: <i>*Gluck, gluck*</i> "Hm, schmeckt ja schon richtig gut!"<br/>
 Arbeiter: "Ja, und dann kommt das Bier endlich in die Flasche. Das passiert hier hinten. Wir <br/>
            benutzen Glas-Pfandflaschen."<br/>
 Peter: "Die werden einfach so wieder aufgef&#252;llt?"<br/>
 Arbeiter: "Nein, die werden nat&#252;rlich erst gesp&#252;lt, und die, die kaputt sind, werden aussortiert."<br/>
 <i>(gehen zur Abf&#252;llanlage)</i>
 Peter: "Die zapft ja viel schneller als der Kellner in meiner Stammkneipe!"<br/>
 Arbeiter: "Naja, das muss sie auch, hier werden pro Stunde 1000 Liter Bier abgef&#252;llt."<br/>
 Peter: "Eieiei... Und wo kommt das alles hin?"<br/>
 Arbeiter: "Das kommt dann erstmal ins Lager, und von da aus kommt es dann per LKW und Schiff in <br/>
            alle Welt."<br/>
 <i>(Szenenwechsel, zur&#252;ck zum Bauwagen)</i>
 Peter: "Ja, und so auch zu mir. Na, dann: Prost!<br/>
         So, ich trink jetzt hier mein Bier, das soll ja auch gesund sein, hat mir meine &#196;rztin<br/>
         gesagt. So, und ihr k&#246;nnt schon mal abschalten.<br/>
 <i>Howard_I: Und, habt ihr was gelernt?</i>
 <i>HunterWH: nat&#252;rlich, Prost! :D</i>
 <i>Howard_I: sch&#246;n :)</i>
<br/>
 Songtitel unserer Generation:<br/>
 Turncoat: "ich glaub ich hab grad den besten songtitel aller zeiten gebastelt"<br/>
 und das ist er:<br/>
       Buy Me A Dinner And Take Me To A Movie Before You Fuck Me The Next Time<br/>

 thegeorge: Nun dann mu&#223; ich wohl oder &#252;bel alleine los<br/>
 HunterWH: Ja, manchmal ist die Realit&#228;t hart.<br/>

 Agash: .oO(Schere komm raus, ich wei&#223; genau dass du da bist)<br/>
 Agash: ah gefunden<br/>
 HunterWH: Wenn man eine Schere mit jemand teilt, dann ist das sharing.

{% endfilter %}
{% endblock %}
