
title: abma.de - Page not found: 404
author: abma
date: 21-11-2009

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

Sorry, there was a big site-reorganization, the page you've typed could be on a different location.
<br>
Please update your links!<br><br>


<?php
$str=$_SERVER["QUERY_STRING"];
$int="";
$started=false;

for($i=0; $i<strlen($str); $i++){
   if ($str[$i]>='0' &&  $str[$i]<='9'){
      $startet=true;
      $int.=$str[$i];
   }
   if ($started)
         break;
}
if (intval($int)!=0){
   echo "Are you searching <a href=\"http://abma.de/node/$int\">this</a> page?";
}else{
   $pos=-1;
   for($i=0; $i<strlen($str); $i++){
      if ($str[$i]=='/'){
          $pos=$i;
      }
   }
   if ($pos!=-1){
      $page=substr($str,$pos);
echo "Are you searching <a href=\"http://abma.de/wiki$page\">this</a> page?";
   }else
   echo "We're sorry, i couldn't suggest you a page, please try the <a href=\"http://abma.de\"> Start page</a>!";
}
?>

{% endfilter %}
{% endblock %}
