{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="container">
	<h1>Kontakt</h1>
	</div>
</div>
<div class="container">
Diese Webseite ist rein privater Natur und hat keine Absichten zur Gewinnerzielung gemäss §6 TDG. Hier verlinkte Webseiten wurden zum Zeitpunkt der "Verlinkung" geprüft. Bedingt durch die Natur des Internets kann aber trotzdem nicht immer die Legalität der Links garantiert werden.

Bei Fragen / Problemen bitte eine Mail an:
spam (bei) abma (punkt) de
  </div>
</div>
{% endblock %}
