{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
Verantwortlicher ist<br/>
Matthias Ableitner<br/>
Rosenbergstr. 11<br/>
09126 Chemnitz<br/>
<br>
(bitte keine Abmahnungen oder ähnlich teurer Unfug, ich bin Student!):</br>
</br>
Diese Webseite ist rein privater Natur und hat keine Absichten zur Gewinnerzielung gemäss §6 TDG. Hier verlinkte Webseiten wurden zum Zeitpunkt der "Verlinkung" geprüft. Bedingt durch die Natur des Internets kann aber trotzdem nicht immer die Legalität der Links garantiert werden.
  </div>
</div>
{% endblock %}
