{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>abma's blog</h1>
  </div>
</div>

<div class="container">


<nav>
	<span class="prev">
		{% if prevPost %}
			<a href='/{{ prevPost.path }}'>
				&laquo; previous
			</a>
		{% else %}
			First post
		{% endif %}
	</span>
<!--
	<span>
		<a href="/">Home</a>
	</span>
-->
	<span class="next">
		{% if nextPost %}
			<a href='/{{ nextPost.path }}'>
				next &raquo;
			</a>
		{% else %}
			Last post
		{% endif %}
	</span>
</nav>
<article>
	<header>
		<h2>{{ title }}</h2>
		<h5><time datetime="{{date|date:"Y-m-d"}}">{{ date|date:"F j, Y" }}</time> by <span class="author">{{ author }}</span></h5>
	</header>
		{% block body %}{% endblock %}
	<footer>
	</footer>
</article>
</div>
{% endblock %}
